---
import BaseLayout from "../layout/BaseLayout.astro"
import AboutMe from "../components/AboutMe.md"
---

<BaseLayout>
    <main>
        <img src="/luffy.jpeg"/>
        <div>
        <AboutMe/>
        <div>
    </main>
</BaseLayout>

<style>
main{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
    margin: 10px 0;
    }
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
</style>
