---
import {
    Copyright,
    ArrowBigUp
} from "@lucide/astro"
---
    <div class="copy">
        <Copyright size={15}/>
        <p>2026 | Suryaprakash </p>
    </div>

<style>
.copy {
    display: flex;
    align-items: center;
    gap: 4px;
}
.copy p {
    font-family: "source-sans";
    color: #fff;
    font-style: normal;
    font-size: 16px;
}
.container {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(255,255,255,0.2);
    border:none;
    padding: 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 2px;
}
</style>
