---
import { SITE_TITLE } from "../consts.ts";
import NavComponent from "../components/NavComponent.astro"
import Connect from "../components/Connect.astro"
import Footer from "../components/Footer.astro"
const {title=SITE_TITLE } = Astro.props
import "../style/main.css"
---
<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <NavComponent/>
            <slot/>
            <Connect/>
            <Footer/>
        </div>
    </body>
</html>

<style>
    div {
        width: 50%;
    }

    @media(max-width: 600px) {
        div {
            width: 100%;
        }
    }
</style>
