---
import { SITE_TITLE } from "../consts.ts";
import NavComponent from "../components/NavComponent.astro";
import Connect from "../components/Connect.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter ,slide} from "astro:transitions";
const {title=SITE_TITLE } = Astro.props
import "../style/main.css"
---
<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8">
        <meta name="author" content="SuryaPrakash V">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body>
        <div>
            <NavComponent/>
            <slot/>
            <Connect/>
            <Footer/>
        </div>
    </body>
</html>

<style>
    div {
        width: 50%;
    }

    @media(max-width: 600px) {
        div {
            width: 100%;
        }
    }

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
    body :global(*) {
        animation: fadeInUp 0.6s ease-out forwards;
    }
</style>
